.header {
  padding-top: 11.4rem;

  &__container {
  }

  &__left {
    grid-column: 1 / span 7;
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 6.5rem;
  }

  &__title {
    font-weight: 700;
    font-size: 8rem;
    line-height: 1.2;
    letter-spacing: -3px;
    color: var(--accent-color);
  }

  &__description {
  }

  &__right {
    grid-column: 8 / span 5;
  }

  &-sales {
    &__picture {
    }
    &__img {
    }
  }

  &-statistic {
    &__sales {
    }
    &__marketing {
    }
  }

  &-customer__picture {
  }
  &-customer__img {
  }

  &-form {

    &__input {
    }

    &__btn {
    }
  }
}
