.nav {

  &__container {
    padding-top: 2.6rem;
    padding-bottom: 2.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    display: flex;
  }
}
