<header class="header">
  <div class="header__container _container grid">
    <div class="header__left">
      <div class="header__content">
        <h1 class="header__title">Digitally forward creative</h1>
        <h4 class="header__description">
          When it comes to interactive marketing, we've got you covered. Be
          where the world is going
        </h4>
        <form action="#" class="header-form">
          <input type="hidden" name="theme" value="Try for free" />
          <input type="hidden" name="admin_email[]" value="" />
          <input type="hidden" name="form_subject" value="Try for free" />

          <input
            type="email"
            name="email"
            class="header-form__input input-mail"
            placeholder="Enter your email"
            data-validate-field="email"
          />

          <button type="submit" class="btn btn-reset header-form__btn">
            Try for free
          </button>
        </form>
      </div>
    </div>
    <div class="header__right">
      <div class="header-sales">
        <picture class="header-sales__picture">
          <source srcset="./img/sales.avif" type="image/avif" />
          <source
            srcset="./img/sales.webp, ./img/sales-2x.webp 2x"
            type="image/webp"
          />
          <img
            src="./img/sales.png"
            srcset="./img/sales-2x.png 2x"
            width="419"
            height="346"
            alt="Sales Report"
            class="header-sales__img"
          />
        </picture>

        <div class="header-statistic">
          <div class="header-statistic__sales"></div>
          <div class="header-statistic__marketing"></div>
        </div>
      </div>

      <picture class="header-customer__picture">
        <source srcset="./img/customer.avif" type="image/avif" />
        <source
          srcset="./img/customer.webp, ./img/customer-2x.webp 2x"
          type="image/webp"
        />
        <img
          src="./img/customer.png"
          srcset="./img/customer-2x.png 2x"
          width="213"
          height="220"
          alt="Customer"
          class="header-customer__img"
        />
      </picture>
    </div>
  </div>
</header>
