<section class="overview accent-bg">
  <div class="overview__container _container grid">
    <div class="section__top">
      <h2 class="section__title">Coca help our client solve complex customer problems with date that does more.</h2>
      <p class="section__subtitle">Our platform offers the modern enterprise full control of how date can be access and used with industry leading software solutions for identity, activation, and date collaboration</p>
    </div>
    <ul class="overview__inner list-reset grid">
      <li class="overview-item">
        <h3 class="overview-item__title">Build your date fundamental</h3>
        <p class="overview-item__text">Build access to date, develop valuable business insights and drive revenue while maintaining full control over access and use of date at all times.</p>
      </li>
      <li class="overview-item">
        <h3 class="overview-item__title">Measure more effective</h3>
        <p class="overview-item__text">Effectively measure people-based campaigns with the freedom to choose from best-of breed partners to optimize and drive media innovation.</p>
      </li>
      <li class="overview-item">
        <h3 class="overview-item__title">Activate your date</h3>
        <p class="overview-item__text">Accurately address your specific audiences at scale across any channel, platform, publisher or network and safely translate date between identity space to improve results.</p>
      </li>
      <li class="overview-item">
        <h3 class="overview-item__title">Strengthen consumer privacy</h3>
        <p class="overview-item__text">Protect your customer date with leading privacy-preserving technologies and advanced techniques to minimize date movement while still enabling insight generation.</p>
      </li>
    </ul>
  </div>
</section>
