// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --body-font: "Inter", sans-serif;
  --second-font: "Roboto", sans-serif;
  --third-font: "Poppins", sans-serif;

  // colors
  --accent-color: #1D1E25;
  --text-color: #7E8492;
  --light-color: #fff;
}
$widthContent: 1200;
$offsetContainer: 15;
$maxWidthContainer: $widthContent + ($offsetContainer * 2);
$gap: 16px;
